body {
  font-family: "Clacon", "Roboto Mono", "Helvetica Neue", sans-serif;
  color: $white;
  background-color: $dark;
  line-height: 1;
}

mark {
  background-color: rgba(255, 255, 255, 0.1);
  color: $white;
}

p,
a,
h1,
span {
  text-shadow: $text-glitch;
}

.underline {
  text-decoration: underline;
  text-decoration-color: $terminal;
}

.text-4xl {
  font-size: clamp(2.25rem, 4.6vw, 4.32rem);
}
.text-3xl {
  font-size: clamp(1.875rem, 4.6vw, 3.8rem);
}
.text-2xl {
  font-size: clamp(1.5rem, 4.6vw, 2rem);
}
